<%-include("partials/header")-%>

<div class="container">
  <h2>Compose</h2>
  <form action="/compose" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" name="postTitle" />
      <label for="data">Post</label>
      <textarea
        name="postData"
        class="form-control"
        cols="30"
        rows="5"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
</div>
<%-include("partials/footer")-%>
